:root{
    --PC_theme_color:#3194d0;
    --PC_theme_menu_color:#3194d0;
    --PC_theme_header_color:#ffffff;
    --PC_theme_font_color:#ffffff;
    --PC_theme_menu_selected_font_color:#000000;
    --PC_theme_menu_selected_bg_color:#ffffff;
}